<footer class="container-fluid row m-0 p-5 bg-dark text-light">
    <div class="col-3 p-1 text-start">
        <h6>GET IN TOUCH</h6>
        <p><i class="fas fa-envelope pe-1"></i> amany.sirajudin@gmail.com </p>
        <p><i class="fas fa-mobile-alt pe-1"></i> (+20) 101 149 3305 </p>
    </div>
    <div class="col-6 p-4 text-center">
        <app-contact-btn></app-contact-btn>
    </div>
    <div class="col-3 p-1 text-end">
        <h4>
            <i class="fab fa-facebook-square px-1"></i>
            <i class="fab fa-twitter-square px-1"></i>
            <i class="fab fa-linkedin p-1"></i>
        </h4>
        <p>Copy Right &copy; Amany Sirajudin 2021</p>
    </div>
</footer>