h2 {
    text-shadow: 2px 2px 0px #c0bfbf9c;
}

p {
    font-size: small;
}

.skill-div label {
    background-color: #959188;
    color: white;
}

.progress {
    height: 2rem;
    border-radius: 0;
}

.progress-bar {
    background-color: #d8ccb3;
    /* height: 100% !important; */
}