<section class="container-fluid m-0 p-5 bg-dark text-light text-center">
    <div class="row">
        <h2 class="p-4">Skills</h2>
        <p class="p-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium nobis temporibus dolorem accusamus ab maiores debitis omnis aliquam iste rem corrupti totam, placeat recusandae, quas inventore quo consequatur? Dolorem, necessitatibus?</p>
    </div>
    <div class="row py-5">
        <div class="col">
            <h5>My Focus</h5>
            <p>_______________________</p>
            <p>Front-End Web Development</p>
            <p>JS Frameworks</p>
        </div>
        <div class="col"></div>
    </div>
</section>